<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  	
  	<resultMap type="Member" id="memberResultSet">
	<id column="ID" property="id"/>
	<result column="PWD" property="pwd"/>
	<result column="NAME" property="name"/>
	<result column="NICKNAME" property="nickName"/>
	<result column="EMAIL" property="email"/>
	<result column="GENDER" property="gender"/>
	<result column="AGE" property="age"/>
	<result column="PHONE" property="phone"/>
	<result column="ADDRESS" property="address"/>
	<result column="ENROLL_DATE" property="enrollDate"/>
	<result column="UPDATE_DATE" property="updateDate"/>
	<result column="MEMBER_STATUS" property="status"/>
	<result column="IS_ADMIN" property="isAdmin"/> 
	</resultMap>
  	
  	
  	
  	<select id="login" resultMap="memberResultSet">
  	
  	select * 
  	from member
  	where id=#{id}
  	 <!--and pwd=#{pwd}  --> 
  	 and member_status='Y' 
  	
  	</select>
  	
  	<insert id="insertMember">
  		insert into member 
		values(#{id},#{pwd},#{name},#{nickName},#{email},#{gender},#{age},#{phone},#{address},SYSDATE,SYSDATE,DEFAULT,DEFAULT)
  	
  	
  	</insert>
	<select id="selectMyList" resultType="map">
	
	<![CDATA[
	select bi_bt,board_title,bc_rc,md
	from (select board_id bi_bt,board_title,to_char(board_count)
		bc_rc,board_modify_date md
		from board
		where board_writer='user02'
		order by board_id desc)
	where rownum<=5
	union
	select *
	from (select board_type-3,board_title,reply_content,reply_modify_date
			from reply
			join board on (board_id=ref_board_id)
			where reply_writer='user02'
			order by reply_id desc)
	where rownum<=5
	order by bi_bt desc
	
	
	]]>
	
	</select>
  	
  	
  	
</mapper>
